<div>
  <h2><strong>More Than 100 DataSets available by industries</strong></h2>
</div>

<br>
<br>

<div class = "row">
  
              
      <div class="col-lg-1">
       
      </div>
      <div class="col-lg-2">
          <div class="content">
                  <h5>DataSet</h5>
                  <p>1</p>
          </div>
          
      </div>
      <div class="col-lg-2">
              <div class="content">
                      <h5>DataSet</h5>
                      <p>1</p>
              </div>
      </div>
      <div class="col-lg-2">
              <div class="content">
                      <h5>DataSet</h5>
                      <p>1</p>
              </div>
      </div>
      <div class="col-lg-2">
              <div class="content">
                      <h5>DataSet</h5>
                      <p>1</p>
              </div>
      </div>
      <div class="col-lg-2">
              <div class="content">
                      <h5>DataSet</h5>
                      <p>1</p>
              </div>
      </div>
      <div class="=col-lg-1">
       
      </div>

  </div>

<div class = "row">
    
                  
          <div class="col-lg-1">
           
          </div>
          <div class="col-lg-2">
                  <div class="content">
                          <h5>DataSet</h5>
                          <p>1</p>
                  </div>
          </div>
          <div class="col-lg-2">
                  <div class="content">
                          <h5>DataSet</h5>
                          <p>1</p>
                  </div>
          </div>
          <div class="col-lg-2">
                  <div class="content">
                          <h5>DataSet</h5>
                          <p>1</p>
                  </div>
          </div>
          <div class="col-lg-2">
                  <div class="content">
                          <h5>DataSet</h5>
                          <p>1</p>
                  </div>
          </div>
          <div class="col-lg-2">
              <div class="content">
                      <h5>DataSet</h5>
                      <p>1</p>
              </div>
          </div>
          <div class="=col-lg-1">
           
          </div>

    </div>

