h1
{
    font-size: x-large;
    font-family: sans-serif;
    font-display: grey;
    text-align: center;

}




#imaginary_container{
    padding-top: 40px;
    padding-left: 250px;
    width:110%;

}
.form-control{
    width: 200%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  