
<div class="nav">
    <span>
     
        <div class="upper">

            <img src="picture/bulb-icon.png" id="logo">
        </div>

        <div class="lower">

            <button style="background-color: white; border: none" type="button" ><img class="Abc" src="picture/2.jpg" /></button>

            <button type="button" class="btn btn-light">Login</button>

            <button type="button" class="btn btn-danger">Signup</button>

        </div>


     
    </span>
</div>

<br>
<br>
<br>
<br>
<br>

<app-search-component></app-search-component>
<br>
    <br>
    <app-div-component></app-div-component>
    <br>
    <app-footer></app-footer>


