
<div class="nav">
    <span>
     
        <div class="upper">

            <img src="picture/bulb-icon.png" id="logo">
        </div>

        <div class="lower">

            <button style="background-color: white; border: none" type="button" id="searchbtn"><img class="Abc" src="picture/2.jpg" /></button>

            <button type="button" class="btn btn-light" routerLink="/login">Login</button>

            <button type="button" class="btn btn-danger" routerLink="/signup">Signup</button>

        </div>

    </span>
</div>
<router-outlet></router-outlet>

<br>
<br>
<br>
<br>
<br>









